<ion-view title="Edit Workout Events" hide-back-button="true" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="editWorkoutEvents-card7">
            <div class="item item-divider">Pre-Season Swim Practice 1</div>
            <div class="item item-body">
                <div>
                    <div>
                        <div>
                            <i class="icon ion-android-calendar" style="margin-right: 5px"></i>Start Date: May 1, 2016
                        </div>
                        <div>
                            <i class="icon ion-android-calendar" style="margin-right: 5px"></i>End Date: August 1, 2016
                        </div>
                        <div>
                            <i class="icon ion-android-time" style="margin-right: 4px"></i>6:00 AM - 8:00 AM
                        </div>
                        <div>
                            <i class="icon ion-refresh" style="margin-right: 3px"></i>Repeats weekly on M-F
                        </div>
                    </div>
                </div>
                <div id="editWorkoutEvents-button-bar2" class=" button-bar ">
                    <button id="editWorkoutEvents-button65" class=" button button-dark  button-block button-outline icon ion-edit "></button>
                    <button id="editWorkoutEvents-button66" class=" button button-dark  button-block button-outline icon ion-android-delete "></button>
                </div>
            </div>
        </div>
        <div class="list card " id="editWorkoutEvents-card9">
            <div class="item item-divider">Pre-Season Swim Practice 2</div>
            <div class="item item-body">
                <div>
                    <div>
                        <div>
                            <i class="icon ion-android-calendar" style="margin-right: 5px"></i>Start Date: May 1, 2016
                        </div>
                        <div>
                            <i class="icon ion-android-calendar" style="margin-right: 5px"></i>End Date: August 1, 2016
                        </div>
                        <div>
                            <i class="icon ion-android-time" style="margin-right: 4px"></i>2:30 PM - 4:30 PM
                        </div>
                        <div>
                            <i class="icon ion-refresh" style="margin-right: 3px"></i>Repeats weekly on M-F
                        </div>
                    </div>
                </div>
                <div id="editWorkoutEvents-button-bar4" class=" button-bar ">
                    <button id="editWorkoutEvents-button25" class=" button button-dark  button-block button-outline icon ion-edit "></button>
                    <button id="editWorkoutEvents-button27" class=" button button-dark  button-block button-outline icon ion-android-delete "></button>
                </div>
            </div>
        </div>
        <a ui-sref="newWorkout" id="editWorkoutEvents-button10" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">Create Another Workout</a>
        <a ng-click="postGAPI()" id="editWorkoutEvents-button11" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block ">Generate Schedule</a>
        <div class="spacer" style="width: 277.313px; height: 12px;"></div>
    </ion-content>
</ion-view>