<ion-view title="Meals" hide-back-button="true" id="page14" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 38.9722px;"></div>
        <div class="">
            <img src="img/strawberry.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h2 id="meals-heading16" style="color:#FF3800;text-align:center;" class=" ">Pick A Place</h2>
        <div class="spacer" style="width: 300px; height: 0.972222px;"></div>
        <a ui-sref="brainbuild.auBonPain" id="meals-button36" style="border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">Au Bon Pain</a>
        <a ui-sref="brainbuild.mcDonaldS" id="meals-button37" style="border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">McDonald's</a>
        <a ui-sref="brainbuild.pandaExpress" id="meals-button38" style="color:#FFFF;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">Panda Express</a>
        <div class="spacer" style="width: 300px; height: 35.9688px;"></div>
        <a ui-sref="sidemenu.schedule" id="snacks-button45" style="border-radius:15px 15px 15px 15px;" class=" button button-dark  button-block button-outline ">Back</a>
    </ion-content>
</ion-view>