<ion-view title="Hydration" hide-back-button="true" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <button id="hydration-button34" style="left:-10px;" class=" button button-calm button-large button-full button-clear icon ion-waterdrop "></button>
        </div>
        <h3 id="hydration-heading21" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Workout Hydration</h3>
        <p id="hydration-markdown4" style="color:#343434;text-align:center;" class=" ">Consider factors including your sweat rate, the heat and humidity in your environment, and how long and hard you are exercising.</p>
        <div class="spacer" style="width: 274.306px; height: 4.003px;"></div>
        <div class="list card " id="hydration-card223">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Before Workout
                    </div>
                    <div class="card-body">
                        Drink 17 to 20 ounces of water 2 to 3 hours before you start exercising
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="hydration-card224">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">During Warmup
                    </div>
                    <div class="card-body">
                        Drink 8 ounces of water 20 to 30 minutes before you start exercising or during your warm-up
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="hydration-card225">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">During Workout
                    </div>
                    <div class="card-body">
                        Drink 7 to 10 ounces of water every 10 to 20 minutes during exercise
                        <br>
                        <br>Sports drinks are beneficial for workouts lasting longer than 1 hour
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="hydration-card226">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">After Workout
                    </div>
                    <div class="card-body">
                        Drink 8 ounces of water no more than 30 minutes after you exercise
                    </div>
                </div>
            </div>
        </div>
        <a ui-sref="sidemenu.schedule" id="hydration-button47" style="border-radius:15px 15px 15px 15px;" class=" button button-dark  button-block button-outline ">Back</a>
    </ion-content>
</ion-view>