<ion-view title="Recovery" hide-back-button="true" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <button id="recovery-button24" style="left:-10px;" class=" button button-balanced button-large button-full button-clear icon ion-battery-low "></button>
        </div>
        <h3 id="recovery-heading19" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Post-Workout Recovery</h3>
        <p id="recovery-markdown19" style="color:#FF3800;text-align:center;" class=" ">What to eat within an hour after your workout if not having a recovery snack or shake</p>
        <p id="recovery-markdown3" style="color:#343434;" class=" ">Recover with plenty of fluids along with a snack that contains at least 20 grams of protein (preferrably dairy for a good source of leucine) and double the amount of carbohydrates (40-50 grams*). This supports muscle protein synthesis, optimal
            energy replenishment and re-hydration.</p>
        <div class="spacer" style="width: 274.306px; height: 4.003px;"></div>
        <h3 id="recovery-heading20" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Examples</h3>
        <ion-list id="recovery-list37" class=" ">
            <ion-item id="recovery-list-item98" class="  ">Greek Yogurt, Granola, &amp; Dried Fruit</ion-item>
            <ion-item id="recovery-list-item133" class="  ">Peanut Butter &amp; Jelly Sandwich</ion-item>
            <ion-list id="recovery-list36" class=" ">
                <ion-item id="recovery-list-item101" class="  ">Assorted Nuts &amp; Apple Sauce</ion-item>
                <ion-item id="recovery-list-item134" class="  ">Assorted Nuts &amp; Dried Fruit</ion-item>
                <ion-list id="recovery-list38" class=" ">
                    <ion-item id="recovery-list-item102" class="  ">Turkey Sandwich and Pretzels</ion-item>
                    <ion-item id="recovery-list-item103" class="  ">16 oz Chocolate Milk &amp; 1 Banana</ion-item>
                    <ion-item id="recovery-list-item104" class="  ">Waffle with 2 Eggs or Peanut Butter</ion-item>
                    <ion-item id="recovery-list-item100" class="  ">Trail Mix with Chocolate, Cereal, &amp; Dried Fruit</ion-item>
                    <ion-item id="recovery-list-item99" class="  ">Protein Shake*</ion-item>
                    <ion-item id="recovery-list-item135" class="  ">Protein Bar*</ion-item>
                </ion-list>
            </ion-list>
        </ion-list>
        <div class="spacer" style="width: 274.306px; height: 4.003px;"></div>
        <h3 id="recovery-heading28" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Protein Bars &amp; Shakes</h3>
        <p id="recovery-markdown13" style="color:#000000;" class=" ">Post-Workout Bars: Must have 20 grams of protein (whey/casein), and 30-50 grams of carbohydrates.</p>
        <a ui-sref="sidemenu.schedule" id="snacks-button45" style="border-radius:15px 15px 15px 15px;" class=" button button-dark  button-block button-outline ">Back</a>
    </ion-content>
</ion-view>