<ion-view title="My Schedule" hide-back-button="true">
	<ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 297.333px; height: 1.66667px;"></div>
        <button id="mySchedule-button28" style="font-weight:600;" class="button button-dark button-large button-block button-clear" ng-click="openDatePicker()">{{ date | date:'fullDate' }}</button>

        <!-- <div class="input-append">
            <input type="text" b-datepicker ng-model="date" />
            <button type="button" class="btn" data-toggle="datepicker"> <i class="icon-calendar"></i>
            </button>
        </div>

        <label class="item item-input " id="newWorkoutEvent-input12" name="Start Date">
            <span class="input-label">Date</span>
            <input type="date" placeholder="" ng-model="date">
        </label>
        <br>
        <p> Date Chosen: {{ date | date:'MM/dd/yyyy' }} </p> -->

		<div class="list card" ng-repeat="googleEvent in googleEvents | filter:{visible:true} | orderBy:'timeOfDay'">
            <div class="item item-divider">{{ googleEvent.summary }}</div>
            <div class="item item-body">
                <div>
                    <div>
                        <div>
                            <i class="icon ion-android-calendar" style="margin-right: 5px"></i>Date: {{ date | date:'MM/dd/yyyy' }}
                        </div>
                        <div>
                            <i class="icon ion-android-time" style="margin-right: 4px"></i>{{ googleEvent.start.dateTime | date:'shortTime'}} - {{ googleEvent.end.dateTime | date:'shortTime'}}
                        </div>
                    </div>
                </div>
                <div ng-bind-html="googleEvent.button">
                </div ng-bind-html>
                <!-- <div id="editWorkoutEvents-button-bar2" class=" button-bar ">
                    <button ng-click="editWorkout(googleEvent.woId)"  id="editWorkoutEvents-button65" class=" button button-dark  button-block button-outline icon ion-edit "></button>
                    <button ng-click="deleteWorkout(googleEvent.woId)" id="editWorkoutEvents-button66" class=" button button-dark  button-block button-outline icon ion-android-delete "></button>
                </div> -->
            </div>
        </div>


        <!-- <a ng-click="getEvents()" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block ">Get Events</a> -->
	</ion-content>
</ion-view>