<ion-view title="Sleep" hide-back-button="true" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 281.111px; height: 36.9583px;"></div>
        <div class="">
            <img src="img/IRXYklcfT4OrGA7oHoBQ_half-moon.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 281.094px; height: 12.9444px;"></div>
        <h3 id="sleep-heading39" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">For a Good Night's Sleep</h3>
        <div class="spacer" style="width: 281.094px; height: 0px;"></div>
        <div class="list card " id="sleep-card222">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Tips
                    </div>
                    <div class="card-body">

                        <b>6 hours before bed</b>- Try to eliminate consumption of caffeine (after 2 PM)
                        <br>
                        <br>

                        <b>3 hours before bed</b>- Stop drinking alcohol | If you choose to drink alcohol limit intake to 1-2 drinks per hour and 4 or fewer drinks on any one occasion. Any more than this may interfere with your sleep cycle.
                        <br>
                        <br>

                        <b>2 hours before bed</b>- Stop exercising | Try to do this 5-6 hours before you go to bed to allow your body to unwind from the workout
                        <br>
                        <br>

                        <b>0.5 hours before bed</b>- Shut off electronics at least 30 minutes before bed. The blue light disrupts melatonin production, an essential sleep regulating hormone.
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer" style="width: 281.094px; height: 0px;"></div>
        <h3 id="sleep-heading43" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Night Time Snacks</h3>
        <p id="sleep-markdown12" style="color:#000000;text-align:center;" class=" ">Try to snack at least 2 hours before bed. Allowing time for digestion is important to avoid any reflux.</p>
        <ion-list id="sleep-list61" class=" ">
            <ion-item id="sleep-list-item203" class="  ">A cheese stick and a few crackers</ion-item>
            <ion-item id="sleep-list-item204" class="  ">Whole grain toast with nut butter</ion-item>
            <ion-item id="sleep-list-item205" class="  ">One serving of nuts and fruit</ion-item>
            <ion-list id="sleep-list27" class=" ">
                <ion-item id="sleep-list-item113" class="  ">Yogurt</ion-item>
                <ion-item id="sleep-list-item114" class="  ">One glass of low fat milk</ion-item>
                <ion-item id="sleep-list-item120" class="  ">Cottage cheese with fruit</ion-item>
                <ion-list id="sleep-list28" class=" ">
                    <ion-item id="sleep-list-item121" class="  ">Hummus with raw veggies</ion-item>
                    <ion-item id="sleep-list-item122" class="  ">Hardboiled egg &amp; a few crackers</ion-item>
                    <ion-item id="sleep-list-item123" class="  ">Oatmeal with milk</ion-item>
                    <ion-list id="sleep-list31" class=" ">
                        <ion-item id="sleep-list-item124" class="  ">Cheese and a few pretzels</ion-item>
                        <ion-item id="sleep-list-item125" class="  ">Fruit with nut butter</ion-item>
                        <ion-item id="sleep-list-item126" class="  ">Lean lunch meat with cheese and a slice of whole grain bread</ion-item>
                    </ion-list>
                </ion-list>
            </ion-list>
        </ion-list>
        <a ui-sref="sidemenu.schedule" id="sleep-button48" style="border-radius:15px 15px 15px 15px;" class=" button button-dark  button-block button-outline ">Back</a>
    </ion-content>
</ion-view>