<ion-view title="Sleep" hide-back-button="true" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 281.111px; height: 36.9583px;"></div>
        <div class="">
            <img src="img/IRXYklcfT4OrGA7oHoBQ_half-moon.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 281.094px; height: 12.9444px;"></div>
        <h3 id="sleep-heading39" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">For a Good Night's Sleep</h3>
        <p id="sleep-markdown18" style="color:#343434;" class=" ">
            <strong>6 hours before bed</strong>- Try to eliminate consumption of caffeine (after 2 PM)</p>
        <div class="spacer" style="width: 274.306px; height: 4.003px;"></div>
        <h3 id="sleep-heading43" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Night Time Snacks</h3>
        <p id="sleep-markdown12" style="color:#000000;text-align:center;" class=" ">Try to snack at least 2 hours before bed. Allowing time for digestion is important to avoid any reflux.</p>
        <ion-list id="sleep-list61" class=" ">
            <ion-item id="sleep-list-item203" class="  ">A cheese stick and a few crackers</ion-item>
            <ion-item id="sleep-list-item204" class="  ">Whole grain toast with nut butter</ion-item>
            <ion-item id="sleep-list-item205" class="  ">One serving of nuts and fruit</ion-item>
            <ion-list id="sleep-list27" class=" ">
                <ion-item id="sleep-list-item113" class="  ">Yogurt</ion-item>
                <ion-item id="sleep-list-item114" class="  ">One glass of low fat milk</ion-item>
                <ion-item id="sleep-list-item120" class="  ">Cottage cheese with fruit</ion-item>
                <ion-list id="sleep-list28" class=" ">
                    <ion-item id="sleep-list-item121" class="  ">Hummus with raw veggies</ion-item>
                    <ion-item id="sleep-list-item122" class="  ">Hardboiled egg &amp; a few crackers</ion-item>
                    <ion-item id="sleep-list-item123" class="  ">Oatmeal with milk</ion-item>
                    <ion-list id="sleep-list31" class=" ">
                        <ion-item id="sleep-list-item124" class="  ">Cheese and a few pretzels</ion-item>
                        <ion-item id="sleep-list-item125" class="  ">Fruit with nut butter</ion-item>
                        <ion-item id="sleep-list-item126" class="  ">Lean lunch meat with cheese and a slice of whole grain bread</ion-item>
                    </ion-list>
                </ion-list>
            </ion-list>
        </ion-list>
        <a ui-sref="sidemenu.schedule" id="snacks-button45" style="border-radius:15px 15px 15px 15px;" class=" button button-dark  button-block button-outline ">Back</a>
    </ion-content>
</ion-view>