<ion-view title="Snacks" hide-back-button="false" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <button id="snacks-button18" style="left:-10px;" class=" button button-energized button-large button-full button-clear icon ion-ios-nutrition "></button>
        </div>
        <h3 id="snacks-heading14" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Pre-Workout Fuel</h3>
        <p id="snacks-markdown10" style="color:#FF3800;text-align:center;" class=" ">What to eat an hour before your workout</p>
        <p id="snacks-markdown2" style="color:#343434;text-align:center;" class=" ">Fuel by eating a handful of complex carbohydrates along with some protein and 20 oz of fluids up to 30 minutes before your workout. This will provide a lasting, slow-burn energy source.</p>
        <div class="spacer" style="width: 274.306px; height: 4.003px;"></div>
        <h3 id="snacks-heading18" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Examples</h3>
        <ion-list id="snacks-list23" class=" ">
            <ion-item id="snacks-list-item60" class="  ">Dry Cereal and Nuts</ion-item>
            <ion-item id="snacks-list-item61" class="  ">Small Bowl of Cereal and Milk</ion-item>
            <ion-item id="snacks-list-item62" class="  ">Cereal with Yogurt (8 oz)</ion-item>
            <ion-list id="snacks-list22" class=" ">
                <ion-item id="snacks-list-item63" class="  ">1/2 of a Peanut Butter &amp; Jelly Sandwich</ion-item>
                <ion-list id="snacks-list33" class=" ">
                    <ion-item id="snacks-list-item127" class="  ">Plain Greek Yogurt (8 oz) &amp; Unsweetened Apple Sauce</ion-item>
                    <ion-item id="snacks-list-item128" class="  ">Unsweetened Apple Sauce and Nuts</ion-item>
                    <ion-item id="snacks-list-item129" class="  ">String Cheese &amp; Fruit or Pretzels</ion-item>
                    <ion-list id="snacks-list34" class=" ">
                        <ion-item id="snacks-list-item130" class="  ">Banana with a Tablespoon of Peanut Butter</ion-item>
                        <ion-item id="snacks-list-item131" class="  ">Nuts and Fresh or Dried Fruit</ion-item>
                        <ion-item id="snacks-list-item132" class="  ">Graham Crackers &amp; Almond Butter</ion-item>
                    </ion-list>
                </ion-list>
            </ion-list>
        </ion-list>
        <a ui-sref="sidemenu.schedule" id="snacks-button45" style="border-radius:15px 15px 15px 15px;" class=" button button-dark  button-block button-outline ">Back</a>
    </ion-content>
</ion-view>