/*///////////////*/
/* General Style */
/*///////////////*/

body {
    padding-top: 100px;
    margin-top: 0px;
    text-align: center;
}

button {
    margin:auto;
    display:block;
}

div {
    text-align:center;
}

table {
  text-align:center;
}

/*///////*/
/* Table */
/*///////*/

/* 1. Table In General*/
.tg  {border-collapse:collapse;border-spacing:0;border-color:#000;margin: 0 auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#000;color:#000;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#000;color:#fff;background-color:#004F70;}

/* 2. Specific Cells*/
.tg .tg-s6z2{text-align:center}
.tg .tg-bold{background-color:#000080;color:#ffffff;text-align:center;font-weight:bold}
.tg .tg-wjim{background-color:#004F70;color:#ffffff;text-align:center}
.tg .tg-vn4c{background-color:#D2E4FC}
.tg .tg-698h{background-color:#000000}
.tg .tg-oyd7{background-color:#004F70;font-weight:bold;color:#ffffff;text-align:center}
.tg .tg-red{text-align:center;color:#ff0000}
.tg .tg-redbold{text-align:center;background-color:#000080;color:#ff0000;font-weight:bold}
.tg .tg-1n72{background-color:#ffffff;text-align:center;}
.tg .tg-1n73{}
.tg .tg-highlight{background-color:#69A2BB}
.tg .tg-clear{background-color:#FFFFFF}

.navbar-fixed-top {
    min-height: 80px;
}
.navbar-fixed-top .navbar-collapse {
    line-height: 80px;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

/*////////////*/
/* Line Graph */
/*////////////*/

#lineGraph-container {
  width: 50px;
  height:50px;
  
  
  margin: 0px auto;
  text-align: center;
}

#legend-modal {
    text-align: left;
}

.graphedRows{
    background-color: #00ff00;
}