<ion-view title="Breakfast" hide-back-button="true" id="page16" class=" ">
    <ion-content padding="true" class="has-header center">
        <div style="margin-right:-20px;">
            <button id="breakfast-button41" style="left:-10px;" class=" button button-assertive button-large button-full button-clear icon ion-spoon "></button>
        </div>
        <h3 id="breakfast-heading35" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Breakfast</h3>
        <p id="breakfast-markdown20" style="color:#000000;text-align:center;" class=" ">Here are the suggestions we picked for you to perform best {{ place }}.</p>
        <div class="list card" id="breakfast-card21">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 1
                    </div>
                    <div class="card-body center">
                        2 slice of whole wheat bread
                        <br>2 tbsp. peanut butter
                        <br>2 tbsp. fruit preserves or jelly
                        <br>1 banana
                        <br>4 oz. skim or low fat milk
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="breakfast-card24">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 2
                    </div>
                    <div class="card-body">
                        2 slices whole wheat toast
                        <br>1 pat of butter
                        <br>2 eggs
                        <br>2 tsp. jam or jelly
                        <br>1 plum
                        <br>4 oz. skim or low fat milk
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="breakfast-card25">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 3
                    </div>
                    <div class="card-body">
                        1 cup cooked oatmeal
                        <br>8 oz. skim or low fat milk
                        <br>1/2 cup chopped walnuts
                        <br>1/2 cup cottage cheese
                        <br>1 banana
                        <br>1 tbsp. white or brown sugar
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="breakfast-card26">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 4
                    </div>
                    <div class="card-body">
                        1 cup cereal
                        <br>8 oz. skim or low fat milk
                        <br>1 banana
                        <br>1 tbsp. nuts or additional 1/3 cup
                        <br>cereal
                        <br>8 oz. 100% orange juice
                        <br>8 oz. greek yogurt
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="breakfast-card27">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 5
                    </div>
                    <div class="card-body">
                        2 whole egg or 4 egg white omelets
                        <br>1 oz. cheese
                        <br>1/2 cup cooked vegetables
                        <br>2 slices whole wheat toast
                        <br>1 pat butter
                        <br>1 medium apple
                        <br>8 oz. 100% orange juice
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="breakfast-card28">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 6
                    </div>
                    <div class="card-body">
                        2 pancakes
                        <br>1 pat butter
                        <br>2 tbsp. syrup
                        <br>1 cup skim or low fat milk or yogurt
                        <br>1 peach
                        <br>1 tbsp. chopped nuts or 2 sausage links
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="breakfast-card22">
            <div>
                <div>
                    <div class="card-body">
                        Note: These suggestions are meal ideas that provide an optimal balance of nutrients, but are not calorically regulated. You may need to eat more or less depending on your body size, weight goals, etc.
                    </div>
                </div>
            </div>
        </div>
        <a ui-sref="sidemenu.schedule" id="breakfast-button43" style="border-radius:15px 15px 15px 15px;" class=" button button-dark  button-block button-outline ">Back</a>
    </ion-content>
</ion-view>