<ion-view title="Dinner" hide-back-button="true" id="page19" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <button id="dinner-button55" style="left:-10px;" class=" button button-assertive button-large button-full button-clear icon ion-spoon "></button>
        </div>
        <h3 id="dinner-heading45" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Dinner</h3>
        <p id="dinner-markdown11" style="color:#000000;text-align:center;" class=" ">Here are the suggestions we picked for you.</p>
        <div class="list card " id="dinner-card215">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 1
                    </div>
                    <div class="card-body">
                        6-8 oz. salmon
                        <br>1 serving potato
                        <br>1 tsp. butter or oil
                        <br>2 cups mixed salad greens
                        <br>1 Tbsp. oil/vinegar dressing
                        <br>1/2 cup cooked vegetable
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="dinner-card216">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 2
                    </div>
                    <div class="card-body">
                        6 oz. baked or grilled chicken breast
                        <br>1 cup rice
                        <br>1 pat butter
                        <br>2 cup cooked vegetable
                        <br>1 cup grapes
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="dinner-card217">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 3
                    </div>
                    <div class="card-body">
                        1.5 cups cooked noodles
                        <br>6 oz. shrimp
                        <br>1/2 cup marinara sauce
                        <br>1 tsp. olive oil/butter
                        <br>2 cups mixed greens
                        <br>1 tbsp. olive oil/vinegar salad dressing
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="dinner-card218">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 4
                    </div>
                    <div class="card-body">
                        2 slices cheese pizza with vegetables
                        <br>2 cup tossed salad
                        <br>2 tbsp. olive oil/vinegar dressing
                        <br>fruit
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="dinner-card219">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 5
                    </div>
                    <div class="card-body">
                        6 oz. lean beef
                        <br>1 baked potato
                        <br>1 tbsp. sour cream
                        <br>2 cup cooked vegetables
                        <br>1 tsp. olive oil
                        <br>1 fresh fruit
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="dinner-card220">
            <div>
                <div>
                    <div class="card-body">
                        Note: These suggestions are meal ideas that provide an optimal balance of nutrients, but are not calorically regulated. You may need to eat more or less depending on your body size, weight goals, etc.
                    </div>
                </div>
            </div>
        </div>
        <a ui-sref="sidemenu.schedule" id="dinner-button56" style="border-radius:15px 15px 15px 15px;" class=" button button-dark  button-block button-outline ">Back</a>
    </ion-content>
</ion-view>