<ion-view title="Lunch" hide-back-button="true" id="page18" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <button id="lunch-button53" style="left:-10px;" class=" button button-assertive button-large button-full button-clear icon ion-spoon "></button>
        </div>
        <h3 id="lunch-heading44" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Lunch</h3>
        <p id="lunch-markdown9" style="color:#000000;text-align:center;" class=" ">Here are the suggestions we picked for you to perform best {{ place }} given {{ allergies }}.</p>
        <div class="list card " id="lunch-card29">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 1
                    </div>
                    <div class="card-body">
                        2 slices whole wheat bread
                        <br>2 oz. sliced turkey breast
                        <br>lettuce/tomato
                        <br>2 tsp. mayo or 1 slice cheese
                        <br>1 large apple
                        <br>1 cup low fat yogurt
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="lunch-card210">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 2
                    </div>
                    <div class="card-body">
                        3 ounces of tuna
                        <br>2 slices of whole wheat bread
                        <br>2 tsp. mayo
                        <br>salad
                        <br>1 tbsp. low fat salad dressing
                        <br>3 tbsp. hummus
                        <br>1 cup baby carrots
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="lunch-card211">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 3
                    </div>
                    <div class="card-body">
                        veggie burger with bun
                        <br>1 cup pretzels
                        <br>2 cups mixed greens
                        <br>1 tbsp. salad dressing
                        <br>1 orange
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="lunch-card212">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 4
                    </div>
                    <div class="card-body">
                        6 pieces of sushi roll
                        <br>1 large apple
                        <br>1 cup of soup (bean or noodle)
                        <br>12 whole wheat crackers
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="lunch-card213">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 5
                    </div>
                    <div class="card-body">
                        1 and 1/2 cup pasta noodles
                        <br>3 oz. grilled chicken
                        <br>1 cup cooked vegetables
                        <br>3/4 cup tomato sauce
                        <br>2 tbsp. parmesan cheese
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="lunch-card214">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 6
                    </div>
                    <div class="card-body">
                        wrap or 6 inch sub
                        <br>add fresh veggies to either of the above
                        <br>1 large apple
                        <br>1/2 cup pretzels
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="lunch-card235">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 7
                    </div>
                    <div class="card-body">
                        1/2 a large chicken quesadilla
                        <br>salad
                        <br>low fat dressing
                        <br>beverage
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="lunch-card236">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 8
                    </div>
                    <div class="card-body">
                        1 Thai chicken wrap (or any type of wrap)
                        <br>add a beverage or soup
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="lunch-card237">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Meal 9
                    </div>
                    <div class="card-body">
                        Sandwich options: Turkey, chicken, ham, or roast beef
                        <br>lettuce
                        <br>tomato
                        <br>mayo or mustard
                        <br>whole grain bread
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="lunch-card23">
            <div>
                <div>
                    <div class="card-body">
                        Note: These suggestions are meal ideas that provide an optimal balance of nutrients, but are not calorically regulated. You may need to eat more or less depending on your body size, weight goals, etc.
                    </div>
                </div>
            </div>
        </div>
        <a ui-sref="sidemenu.schedule" id="lunch-button54" style="border-radius:15px 15px 15px 15px;" class=" button button-dark  button-block button-outline ">Back</a>
    </ion-content>
</ion-view>