<ion-view title="Recovery" hide-back-button="true" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <button id="recovery-button24" style="left:-10px;" class=" button button-balanced button-large button-full button-clear icon ion-battery-low "></button>
        </div>
        <h3 id="recovery-heading19" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Post-Workout Recovery</h3>
        <div class="list card " id="recovery-card228">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">What to eat within an hour after your workout if not having a recovery snack or shake
                    </div>
                    <div class="card-body">
                        Recover with plenty of fluids along with a snack that contains at least 20 grams of protein* (preferably dairy for a good source of leucine) and double the amount of carbohydrates (40-50 grams**). This supports muscle protein synthesis, optimal energy
                        replenishment and re-hydration.
                        <br>
                        <br>*20 grams of protein = Two 8 oz glasses of white milk or chocolate milk
                        <br>**A 3.5-ounce plain bagel contains about 50 grams of carbohydrates
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer" style="width: 274.297px; height: 0px;"></div>
        <h3 id="recovery-heading20" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Examples</h3>
        <div class="list card " id="recovery-card230">
            <div class="item item-body " id="recovery-list-item-container4">
                <p id="recovery-markdown23" style="margin-top:0px;color:#000000;" class=" ">Greek yogurt, granola, &amp; dried fruit</p>
                <p id="recovery-markdown24" style="margin-top:0px;color:#000000;" class=" ">Peanut butter &amp; jelly sandwich</p>
                <p id="recovery-markdown25" style="margin-top:0px;color:#000000;" class=" ">Assorted nuts &amp; apple sauce</p>
                <p id="recovery-markdown26" style="margin-top:0px;color:#000000;" class=" ">Assorted nuts &amp; dried fruit</p>
                <p id="recovery-markdown27" style="margin-top:0px;color:#000000;" class=" ">Turkey sandwich &amp; pretzels</p>
                <p id="recovery-markdown28" style="margin-top:0px;color:#000000;" class=" ">16 oz chocolate milk &amp; 1 banana</p>
                <p id="recovery-markdown29" style="margin-top:0px;color:#000000;" class=" ">Waffle with 2 eggs or peanut butter</p>
                <p id="recovery-markdown30" style="margin-top:0px;color:#000000;" class=" ">Trail mix with chocolate, cereal, &amp; dried fruit</p>
                <p id="recovery-markdown31" style="margin-top:0px;color:#000000;" class=" ">Protein shake*</p>
                <p id="recovery-markdown32" style="margin-top:0px;color:#000000;" class=" ">Protein bar*</p>
            </div>
        </div>
        <div class="spacer" style="width: 274.297px; height: 0px;"></div>
        <h3 id="recovery-heading28" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Protein Bars &amp; Shakes</h3>
        <div class="list card " id="recovery-card229">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Tips
                    </div>
                    <div class="card-body">
                        <b>Post-Workout Bars</b>: Must have 20 grams of protein (whey/casein), and 30-50 grams of carbohydrates.
                        <br>
                        <br>Although sugar is less of an issue post-workout for recovery, when possible, pick foods/bars for snacks that are less refined, whole grain, and contain more protein.
                        <br>
                        <br>Include 8 ounces of low-fat milk for added protein and carbohydrate for a complete post-workout recovery
                        <br>
                        <br>

                        <b>Post-Workout Shakes</b>: Must have double the amount of carbohydrate. This can be done by adding fruit and yogurt.
                    </div>
                </div>
            </div>
        </div>
        <div class="list card " id="recovery-card233">
            <div>
                <div>
                    <div class="card-body">
                        Note: These suggestions are recovery food ideas that provide an optimal balance of nutrients, but are not calorically regulated. You may need to eat more or less depending on your body size, weight goals, etc.
                    </div>
                </div>
            </div>
        </div>
        <a ui-sref="sidemenu.schedule" id="recovery-button46" style="border-radius:15px 15px 15px 15px;" class=" button button-dark  button-block button-outline ">Back</a>
    </ion-content>
</ion-view>