<ion-view title="Sleep" hide-back-button="true" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 281.111px; height: 36.9583px;"></div>
        <div class="">
            <img src="img/IRXYklcfT4OrGA7oHoBQ_half-moon.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 281.094px; height: 12.9444px;"></div>
        <h3 id="sleep-heading39" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">For a Good Night's Sleep</h3>
        <div class="spacer" style="width: 281.094px; height: 0px;"></div>
        <div class="list card " id="sleep-card222">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">Tips
                    </div>
                    <div class="card-body">

                        <b>6 hours before bed</b>- Try to eliminate consumption of caffeine (after 2 PM)
                        <br>
                        <br>

                        <b>3 hours before bed</b>- Stop drinking alcohol | If you choose to drink alcohol limit intake to 1-2 drinks per hour and 4 or fewer drinks on any one occasion. Any more than this may interfere with your sleep cycle.
                        <br>
                        <br>

                        <b>2 hours before bed</b>- Stop exercising | Try to do this 5-6 hours before you go to bed to allow your body to unwind from the workout
                        <br>
                        <br>

                        <b>0.5 hours before bed</b>- Shut off electronics at least 30 minutes before bed. The blue light disrupts melatonin production, an essential sleep regulating hormone.
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer" style="width: 281.094px; height: 0px;"></div>
        <h3 id="sleep-heading43" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Night Time Snacks</h3>
        <p id="sleep-markdown12" style="color:#000000;text-align:center;" class=" ">Try to snack at least 2 hours before bedtime. This allows time for digestion, so you will sleep more peacefully and avoid instances of reflux for those who have it.</p>
        <div class="list card " id="sleep-card231">
            <div class="item item-body " id="sleep-list-item-container6">
                <p id="sleep-markdown34" style="margin-top:0px;color:#000000;" class=" ">A cheese stick and a few crackers</p>
                <p id="sleep-markdown36" style="margin-top:0px;color:#000000;" class=" ">Whole grain toast with nut butter</p>
                <p id="sleep-markdown37" style="margin-top:0px;color:#000000;" class=" ">One serving of nuts and fruit</p>
                <p id="sleep-markdown38" style="margin-top:0px;color:#000000;" class=" ">Yogurt</p>
                <p id="sleep-markdown39" style="margin-top:0px;color:#000000;" class=" ">One glass of low fat milk</p>
                <p id="sleep-markdown40" style="margin-top:0px;color:#000000;" class=" ">Cottage cheese with fruit</p>
                <p id="sleep-markdown41" style="margin-top:0px;color:#000000;" class=" ">Hummus with raw veggies</p>
                <p id="sleep-markdown42" style="margin-top:0px;color:#000000;" class=" ">Hardboiled egg &amp; a few crackers</p>
                <p id="sleep-markdown44" style="margin-top:0px;color:#000000;" class=" ">Cheese and a few pretzels</p>
                <p id="sleep-markdown45" style="margin-top:0px;color:#000000;" class=" ">Fruit with nut butter</p>
                <p id="sleep-markdown46" style="margin-top:0px;color:#000000;" class=" ">Lean lunch meat with cheese and a slice of whole grain bread</p>
                <p id="sleep-markdown47" style="margin-top:0px;color:#000000;" class=" ">Oatmeal with milk</p>
            </div>
        </div>
        <div class="list card " id="sleep-card234">
            <div>
                <div>
                    <div class="card-body">
                        Note: These suggestions are night time snack ideas that provide an optimal balance of nutrients, but are not calorically regulated. You may need to eat more or less depending on your body size, weight goals, etc.
                    </div>
                </div>
            </div>
        </div>
        <a ui-sref="sidemenu.schedule" id="sleep-button48" style="border-radius:15px 15px 15px 15px;" class=" button button-dark  button-block button-outline ">Back</a>
    </ion-content>
</ion-view>