<ion-view title="Snacks" hide-back-button="true" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <button id="snacks-button18" style="left:-10px;" class=" button button-energized button-large button-full button-clear icon ion-ios-nutrition "></button>
        </div>
        <h3 id="snacks-heading14" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Pre-Workout Fuel</h3>
        <div class="list card " id="snacks-card227">
            <div>
                <div>
                    <div class="card-bold center title  title-margin">What to eat an hour before your workout
                    </div>
                    <div class="card-body">
                        Fuel by eating a handful of complex carbohydrates along with some protein and 20 oz of fluids up to 30 minutes before your workout. This will provide a lasting, slow-burn energy source.
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer" style="width: 274.297px; height: 0px;"></div>
        <h3 id="snacks-heading18" style="color:#FF3800;font-weight:600;text-align:center;" class=" ">Examples</h3>
        <div class="list card " id="snacks-card221">
            <div class="item item-body " id="snacks-list-item-container1">
                <p id="snacks-markdown10" style="margin-top:0px;color:#000000;" class=" ">Dry cereal and nuts</p>
                <p id="snacks-markdown22" style="margin-top:0px;color:#000000;" class=" ">Plain greek yogurt with fruit or granola</p>
                <p id="snacks-markdown13" style="margin-top:0px;color:#000000;" class=" ">Cereal with yogurt (8 oz)</p>
                <p id="snacks-markdown14" style="margin-top:0px;color:#000000;" class=" ">1/2 of a peanut butter &amp; jelly sandwich</p>
                <p id="snacks-markdown15" style="margin-top:0px;color:#000000;" class=" ">Plain greek yogurt (8 oz) &amp; unsweetened apple sauce</p>
                <p id="snacks-markdown16" style="margin-top:0px;color:#000000;" class=" ">Unsweetened apple sauce and nuts</p>
                <p id="snacks-markdown17" style="margin-top:0px;color:#000000;" class=" ">String cheese &amp; fruit or pretzels</p>
                <p id="snacks-markdown18" style="margin-top:0px;color:#000000;" class=" ">Banana with a tablespoon of peanut butter</p>
                <p id="snacks-markdown19" style="margin-top:0px;color:#000000;" class=" ">Nuts and fresh or dried fruit</p>
                <p id="snacks-markdown21" style="margin-top:0px;color:#000000;" class=" ">Graham crackers &amp; almond butter</p>
            </div>
        </div>
        <div class="list card " id="snacks-card232">
            <div>
                <div>
                    <div class="card-body">
                        Note: These suggestions are snack ideas that provide an optimal balance of nutrients, but are not calorically regulated. You may need to eat more or less depending on your body size, weight goals, etc.
                    </div>
                </div>
            </div>
        </div>
        <a ui-sref="sidemenu.schedule" id="snacks-button45" style="border-radius:15px 15px 15px 15px;" class=" button button-dark  button-block button-outline ">Back</a>
    </ion-content>
</ion-view>